{% extends 'base.html.twig' %}
{% block title %}
	Log in!
{% endblock %}
{% block nav %}
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a href="#about" class="page-scroll">
					About
				</a>
			</li>
			<li>
				<a href="#contact" class="page-scroll">
					BI Solution
				</a>
			</li>
			<li>
				<a href="#portfolio" class="page-scroll">
					Gallery
				</a>
			</li>
			<li>
				<a href="#team" class="page-scroll">
					Team
				</a>
			</li>
			<li>
				<a href="{{ path('app_logout') }}" class="page-scroll">
					Log Out
				</a>
			</li>
		</ul>
	</div>
{% endblock %}


{% block body %}
	<header id="header">
		<div class="intro">
			<div class="overlay">
				<div class="container">
					<div class="row">
						<div class="intro-text">
							<h1>
								BIFIT
							</h1>
							<p>
								Healthy just became Fun
							</p>
							<a href="#contact" class="btn btn-custom btn-lg page-scroll">
								Go To Dashboard
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- About Section -->
	<div id="about">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-6 ">
					<div class="about-img">
						<img src="img/about.jpg" class="img-responsive" alt="">
					</div>
				</div>
				<div class="col-xs-12 col-md-6">
					<div class="about-text">
						<h2>
							Our Project
						</h2>
						<hr>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo nibh.
						</p>
						<h3>
							Awarded Chefs
						</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="contact" class="text-center">
		<div class="container">

			<div class="section-title text-center">
				<h2>
					Log In
				</h2>
				<hr>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed.
				</p>
			</div>
			<div class="col-md-10 col-md-offset-1">
				<form method="post">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input type="email" placeholder="Email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
								<p class="help-block text-danger"></p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="password" name="password" placeholder="Password" id="inputPassword" class="form-control" autocomplete="current-password" required>
								<p class="help-block text-danger"></p>
							</div>
						</div>
					</div>

					<div id="success"></div>
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<button class="btn btn-custom btn-lg" type="submit">
						Sign in
					</button>
				</form>
			</div>
		</div>
	</div>
	<div id="portfolio">
		<div class="section-title text-center center">
			<div class="overlay">
				<h2>
					Gallery
				</h2>
				<hr>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed.
				</p>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="categories">
					<ul class="cat">
						<li>
							<ol class="type">
								<li>
									<a href="#" data-filter="*" class="active">
										All
									</a>
								</li>
								<li>
									<a href="#" data-filter=".breakfast">
										Breakfast
									</a>
								</li>
								<li>
									<a href="#" data-filter=".lunch">
										Lunch
									</a>
								</li>
								<li>
									<a href="#" data-filter=".dinner">
										Dinner
									</a>
								</li>
							</ol>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="row">
				<div class="portfolio-items">
					<div class="col-sm-6 col-md-4 col-lg-4 breakfast">
						<div class="portfolio-item">
							<div class="hover-bg">
								<a href="img/portfolio/01-large.jpg" title="Dish Name" data-lightbox-gallery="gallery1">
									<div class="hover-text">
										<h4>
											Dish Name
										</h4>
									</div>
									<img src="img/portfolio/01-small.jpg" class="img-responsive" alt="Project Title">
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4 dinner">
						<div class="portfolio-item">
							<div class="hover-bg">
								<a href="img/portfolio/02-large.jpg" title="Dish Name" data-lightbox-gallery="gallery1">
									<div class="hover-text">
										<h4>
											Dish Name
										</h4>
									</div>
									<img src="img/portfolio/02-small.jpg" class="img-responsive" alt="Project Title">
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4 breakfast">
						<div class="portfolio-item">
							<div class="hover-bg">
								<a href="img/portfolio/03-large.jpg" title="Dish Name" data-lightbox-gallery="gallery1">
									<div class="hover-text">
										<h4>
											Dish Name
										</h4>
									</div>
									<img src="img/portfolio/03-small.jpg" class="img-responsive" alt="Project Title">
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4 breakfast">
						<div class="portfolio-item">
							<div class="hover-bg">
								<a href="img/portfolio/04-large.jpg" title="Dish Name" data-lightbox-gallery="gallery1">
									<div class="hover-text">
										<h4>
											Dish Name
										</h4>
									</div>
									<img src="img/portfolio/04-small.jpg" class="img-responsive" alt="Project Title">
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4 dinner">
						<div class="portfolio-item">
							<div class="hover-bg">
								<a href="img/portfolio/05-large.jpg" title="Dish Name" data-lightbox-gallery="gallery1">
									<div class="hover-text">
										<h4>
											Dish Name
										</h4>
									</div>
									<img src="img/portfolio/05-small.jpg" class="img-responsive" alt="Project Title">
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4 lunch">
						<div class="portfolio-item">
							<div class="hover-bg">
								<a href="img/portfolio/06-large.jpg" title="Dish Name" data-lightbox-gallery="gallery1">
									<div class="hover-text">
										<h4>
											Dish Name
										</h4>
									</div>
									<img src="img/portfolio/06-small.jpg" class="img-responsive" alt="Project Title">
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4 lunch">
						<div class="portfolio-item">
							<div class="hover-bg">
								<a href="img/portfolio/07-large.jpg" title="Dish Name" data-lightbox-gallery="gallery1">
									<div class="hover-text">
										<h4>
											Dish Name
										</h4>
									</div>
									<img src="img/portfolio/07-small.jpg" class="img-responsive" alt="Project Title">
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4 breakfast">
						<div class="portfolio-item">
							<div class="hover-bg">
								<a href="img/portfolio/08-large.jpg" title="Dish Name" data-lightbox-gallery="gallery1">
									<div class="hover-text">
										<h4>
											Dish Name
										</h4>
									</div>
									<img src="img/portfolio/08-small.jpg" class="img-responsive" alt="Project Title">
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4 dinner">
						<div class="portfolio-item">
							<div class="hover-bg">
								<a href="img/portfolio/09-large.jpg" title="Dish Name" data-lightbox-gallery="gallery1">
									<div class="hover-text">
										<h4>
											Dish Name
										</h4>
									</div>
									<img src="img/portfolio/09-small.jpg" class="img-responsive" alt="Project Title">
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4 lunch">
						<div class="portfolio-item">
							<div class="hover-bg">
								<a href="img/portfolio/10-large.jpg" title="Dish Name" data-lightbox-gallery="gallery1">
									<div class="hover-text">
										<h4>
											Dish Name
										</h4>
									</div>
									<img src="img/portfolio/10-small.jpg" class="img-responsive" alt="Project Title">
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4 lunch">
						<div class="portfolio-item">
							<div class="hover-bg">
								<a href="img/portfolio/11-large.jpg" title="Dish Name" data-lightbox-gallery="gallery1">
									<div class="hover-text">
										<h4>
											Dish Name
										</h4>
									</div>
									<img src="img/portfolio/11-small.jpg" class="img-responsive" alt="Project Title">
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4 breakfast">
						<div class="portfolio-item">
							<div class="hover-bg">
								<a href="img/portfolio/12-large.jpg" title="Dish Name" data-lightbox-gallery="gallery1">
									<div class="hover-text">
										<h4>
											Dish Name
										</h4>
									</div>
									<img src="img/portfolio/12-small.jpg" class="img-responsive" alt="Project Title">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Team Section -->
	<div id="team" class="text-center">
		<div class="overlay">
			<div class="container">
				<div class="col-md-10 col-md-offset-1 section-title">
					<h2>
						Meet Our team
					</h2>
					<hr>
				</div>
				<div id="row">
					<div class="col-md-4 team">
						<div class="thumbnail">
							<div class="team-img">
								<img src="img/team/01.jpg" alt="...">
							</div>
							<div class="caption">
								<h3>
									Mike Doe
								</h3>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam.
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 team">
						<div class="thumbnail">
							<div class="team-img">
								<img src="img/team/01.jpg" alt="...">
							</div>
							<div class="caption">
								<h3>
									Mike Doe
								</h3>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam.
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 team">
						<div class="thumbnail">
							<div class="team-img">
								<img src="img/team/01.jpg" alt="...">
							</div>
							<div class="caption">
								<h3>
									Mike Doe
								</h3>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam.
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 team">
						<div class="thumbnail">
							<div class="team-img">
								<img src="img/team/02.jpg" alt="...">
							</div>
							<div class="caption">
								<h3>
									Chris Doe
								</h3>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam.
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 team">
						<div class="thumbnail">
							<div class="team-img">
								<img src="img/team/03.jpg" alt="...">
							</div>
							<div class="caption">
								<h3>
									Ethan Doe
								</h3>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="call-reservation" class="text-center">
		<div class="container">
			<h2>
				Want to be informed ? Call
				<strong>
					+216 23 589 315
				</strong>
			</h2>
		</div>
	</div>

	<div id="footer">
		<div class="container text-center">
			<div class="col-md-4">
				<h3>
					Address
				</h3>
				<div class="contact-item">
					<p>
						4321 California St,
					</p>
					<p>
						San Francisco, CA 12345
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<h3>
					Opening Hours
				</h3>
				<div class="contact-item">
					<p>
						Mon-Thurs: 10:00 AM - 11:00 PM
					</p>
					<p>
						Fri-Sun: 11:00 AM - 02:00 AM
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<h3>
					Contact Info
				</h3>
				<div class="contact-item">
					<p>
						Phone: +1 123 456 1234
					</p>
					<p>
						Email: info@company.com
					</p>
				</div>
			</div>
		</div>
		<div class="container-fluid text-center copyrights">
			<div class="col-md-8 col-md-offset-2">
				<div class="social">
					<ul>
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
					</ul>
				</div>
				<p>
					&copy; 2022 BIFIT. All rights reserved. Designed by
					<a href="http://www.templatewire.com" rel="nofollow">
						ResolVI
					</a>
				</p>
			</div>
		</div>
	</div>
{% endblock %}
